@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Dancing+Script:wght@600;700&family=Estonia&family=Playfair+Display:wght@500&display=swap');
footer{
    width: 100%;
    text-align: center;
    margin-top: auto;
    background-color: black;
}

.para{
    text-align: center;
    color: yellow;
    line-height: 2.5rem;
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    letter-spacing: 3px;
}