<div class="navbar">
        <div class="logo">
           <a href="/"><i class="far fa-snowflake"></i> <span class="logo_head">Weather</span> <i class="far fa-snowflake"></i></a>
        </div>
        <ul class="nav_links">
            <li class="item1 item"><a href="/"> Home </a></li>
            <li class="item2 item"><a href="/weather"> Weather </a></li>
            <li class="item3 item"><a href="/quotes"> Quotes </a></li>
            <li class="item4 item"><a href="/contact"> Contact Me </a></li>
        </ul>
</div>