<!DOCTYPE html>
<html lang="en">
<head>
    {{>inc_all}}
</head>
<body>
    {{>nav}}
    <div class="contact_container">
        <div class="form" id="formm">
        <div class="contact_head"><h2>Contact Me</h2></div>
        <form action="/sendMail" method="post">
        <div class="yourName">
            <div class="FirstName"><p>First name</p> <input type="text" class="contactInp" name="yourFirstName" required></div>
            <div class="LastName"><p>Last name</p> <input type="text" class="contactInp" name="yourLastName" required></div>
        </div>
        <div class="yourEmail_Mobile">
            <div class="email"><p>Email id</p> <input type="text" class="contactInp" name="yourEmail" required></div>
            <div class="phone"><p>Phone num</p> <input type="text" class="contactInp" name="yourNum" required></div>
        </div>
        <div class="yourMessage">
            <p class="message">Message</p> <textarea class="yourMessage" rows="7" cols="74" name="yourMsg" required placeholder="Enter your message"></textarea>
        </div>
        <input type="submit" id="submitButton" value="Submit" class="subButton">
        </form>
        </div>
    </div>
    {{>footer}}
</body>
    {{!-- {{>jsFiles}} --}}
    <script src="/js/contact.js"></script>
</html>