<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Weather web app</title>
</head>

<body>
    <div class="heading">
        <h1>DYNAMIC WEATHER WEB APPLICATION</h1>
    </div>
    <form action="/" method="post">
        <span class="cityName">Enter the City name: </span>
        <input type="text" name="City" placeholder="City">
        <div class="resultToShow">
            <div class="icon">
                <img src="" alt="">
            </div>
        </div>
    </form>

</body>

</html>