<!DOCTYPE html>
<html lang="en">

<head>
    {{>inc_all}}
</head>
<style>
</style>
<body>
    {{>nav}}
    <div class="content">
        <div class="weather_head">
            Welcome to Weather app.
        </div>
    </div>
</body>

</html>