<!DOCTYPE html>
<html lang="en">

<head>
    {{>inc_all}}
</head>
<body>
    {{>nav}}
    <div class="container">
        <div class="container_weather_head">
            Welcome to Dynamic Weather Web Application.
        </div>
        <div class="container-content">
            <div>Want to know the accurate weather conditions of any area? </div>
            <div>Just enter the name of the city to know the weather conditions.</div>
            <div>Check the below button.</div>
        </div>
        <div class="container-weather-link">
                <span class="actualWeatherLink"><a href="weather">Hit Me!</a></span>
        </div>
    </div>
    {{>footer}}
</body>
    {{>jsFiles}}
</html>