<!DOCTYPE html>
<html lang="en">

<head>
    {{>inc_all}}
</head>
<body>
    {{>nav}}
    <div class="container">
        <div class="container_weather_head">
            Welcome to Dynamic Weather Web Application.
        </div>
        <div class="container-content">
            Want to know the accurate weather conditions of any area? 
            <br>
            Just enter the name of the city to know the weather conditions.
            <br>
            Check the below button.
        </div>
        <div class="container-weather-link">
                <a href="weather">Hit Me!</a>
        </div>
    </div>
    {{>footer}}
</body>

</html>