<!DOCTYPE html>
<html lang="en">
<head>
    {{>inc_all}}
</head>
<body>
    {{>nav}}

    <div class="mainQuoteContainer">
        <div class="quoteContainer">
            <div class="quoteHeading">Quotes</div>
            <div class="quoteData" id="quoteDisplay"></div>
            <div class="quoteBy" id="quoteAuthor"></div>
            <button class="newQuote" id="newQ">New Quote</button>
        </div>
        <button class="tweet" id="tweetMe">Tweet Me!</button>
    </div>

    {{>footer}}
</body>
    <script src="/js/quotes.js"></script>
</html>