<!DOCTYPE html>
<html lang="en">
<head>
    {{>inc_all}}
</head>
<body>
    {{>nav}}
    <div class="weatherContainer">
        <div class="dateDay">
                <div class="day" id="dayDateMonth">Tuesday, 14 Oct</div>
        </div>
        <div class="cityData" id = "cityDataId">
            <form class="formForCity">
                <input type="text" name="city" id="cityName" autocomplete="off" placeholder="Enter your city name">
                <input type="submit" value="Search" id="submitButton" class="subBut">
            </form>
        </div>
        <div class="weatherInfo">
            <div class="get_output_here" id="getOutput">Get Your Output Here!</div>
            <div class="mainWeatherInfo" id="mainWeather">
            <div class="weatherCommon">Temperature: <span id="temp">29</span><sup>o</sup>C <div> <i class="fas fa-abacus"></i> </div></div>
            <div class="weatherCommon">Minimum Temp: <span id="min_temp">29</span><sup>o</sup>C<div> FontAwesome icon </div></div>
            <div class="weatherCommon">Maximum Temp: <span id="max_temp">29</span><sup>o</sup>C<div> FontAwesome icon </div></div>
            <div class="weatherCommon">Temp Feels like: <span id="temp_feels">29</span><sup>o</sup>C<div> FontAwesome icon </div></div>
            <div class="weatherCommon">Wind Speed: <span id="windSpeed">29</span> km/h<div> FontAwesome icon </div></div>
            <div class="weatherCommon">Humidity: <span id="humidity">29</span> unit</div>
            <div class="weatherCommon">Pressure: <span id="pressure">29</span> Pa</div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
    <script src="/js/weather.js"></script>
</html>